@import "./reset.css";

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: #103b56;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

#stop-render {
  position: fixed;
  top: 0;
  left: 0;
}

.score-container {
  position: fixed;
  color: white;
  left: 100px;
  top: 40px;
  font-weight: bolder;
  font-size: 2rem;
}

.arrow-container {
  height: 90px;
  width: 240px;
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.arrow {
  box-sizing: content-box;
  width: 30%;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: rgb(255, 0, 0);
  border-bottom: 8px solid rgb(150, 0, 0);
}

.arrow.active {
  border-bottom-width: 2px;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.arrow-down {
  left: 50%;
  transform: translateX(-50%);
}

.arrow-up {
  top: 0;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-up.active {
  top: 6px;
}

.ui-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -40%);
  min-width: 400px;
  min-height: 200px;
  background: white;
  padding: 20px;

  transition: all .3s;
}

.ui-container.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.ui-container.loading {
  min-height: 300px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.3);
  width: 40px;
  height: 40px;
}