@import "./reset.css";

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 10px;
}

label div {
  margin-bottom: 6px;
}

input,
label input {
  border: 1px solid rgba(0,0,0,.6);
  font-size: 1.25rem;
  outline: none;
  padding: 4px 6px;
  border-radius: 4px;
}

input,
label input:focus {
  border-color: rgb(4, 103, 251);
}

input[type="color"] {
  padding: 0;
  border: 0;
}

#song-input {
  display: block;
  width: 100%;
  padding: 6px 8px;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.start-song-button,
.toggle-settings-button {
  background: rgb(4, 103, 251);
  font-size: 1.25rem;
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  color: white;
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;
  max-width: calc(50% - 10px);
}

#stop-render {
  position: fixed;
  top: 0;
  left: 0;
}

.score-container {
  position: fixed;
  color: white;
  left: 100px;
  top: 40px;
  font-weight: bolder;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 2s;
}

.arrow-container {
  height: 90px;
  width: 240px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  opacity: 1;
  transition: opacity 2s;
}

.score-container.hidden,
.arrow-container.hidden {
  opacity: 0;
}

.arrow {
  box-sizing: content-box;
  width: 30%;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: rgb(255, 0, 0);
  border-bottom: 8px solid rgb(150, 0, 0);
}

.arrow.active {
  border-bottom-width: 2px;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.arrow-down {
  left: 50%;
  transform: translateX(-50%);
}

.arrow-up {
  top: 0;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-up.active {
  top: 6px;
}

.ui-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -40%);
  min-width: 400px;
  min-height: 200px;
  background: white;
  padding: 20px;

  transition: all .3s;
}

.ui-container.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.3);
  width: 40px;
  height: 40px;
}

.settings-section-container {
  position: relative;
}

.settings-container {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 300px;
}

.settings-title {
}

.settings-section-title {
  padding-top: 10px;
  border-top: 1px solid rgba(0,0,0,.3);
  margin-right: 20px;
}

.setting-expand-button {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-image: url("images/arrow-point-to-right.svg");
  background-position: 50%;
  background-size: contain;
  background-color: transparent;
  border: none;
  transform: rotate(90deg);
}

.setting-expand-button.active {
  transform: rotate(-90deg);
}

.settings-container {
  display: flex;
  flex-wrap: wrap;
}

.color-setting-label {
  width: 120px;
  margin-bottom: 10px;
}

.checkbox-label {
  width
}

.number-label {
  width: 100%;
}

.number-label input {
  width: 200px;
  max-width: 100%;
}

.expander {
  overflow: hidden;
  max-height: 0;
}

.expander.expanded {
  max-height: 1000px;
  padding-bottom: 20px;
}

.toggle-settings-button {
  background: transparent;
  border: 1px solid rgba(0,0,0,.25);
  color: rgba(0,0,0,.7);
  margin-left: 20px;
}

#settings-container {
  overflow: hidden;
  max-height: 0;
}

#settings-container.expanded {
  max-height: 4000px;
}

.difficulty-button {
  margin-right: 10px;
  padding: 4px 8px;
  border: 1px solid rgba(0,0,0,.5);
  background: transparent;
}

.difficulty-button.active {
  background: rgb(4, 103, 251);
  color: white;
  border: none;
}